<div ng-include src="'./view/template/outside/outside_navbar.html '">
</div>


    <div id="contact" class="container-fluid">
    
            <h1>CONTACT US</h1>
            <p>Arianna Fedeli</p>
            <p>number:3467895663</p>
            <p>Marcello Rosati</p>
            <p>number:345869874</p>
            <p>Federico Stacchietti</p>
            <p>number:3205869741</p>

            <h2>UNICAM Università degli Studi di Camerino </h2>
            <p>Piazza Cavour 19/f 62032 Camerino MC</p>
            <p> numero verde: 800 054 000</p>
            <p>P.IVA: 00291660439 </p>  
            <p>C.F.: 81001910439 </p> 
            <p> posta certificata: protocollo@pec.unicam.it</p>
        </div>
    
