<div ng-include src="'./view/template/outside/outside_navbar.html '">
</div>

<div id="home" class="container-fluid" align="center">
    <h1>BENVENUTO NEL PORTALE!</h1>
    <br>
    <br>
    <div align="center" class="bordi">
        <img src="./img/2.jpg" width="400px">
    </div>

    <br>
    <br>
    <br>
    <section class="three-columns gray section first">
        <div class="container">
            <div class="row holder">
                <!-- box -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="box">
                        <div class="ico-holder">
                            <img width="30%" src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/browser-icon.png">
                        </div>
                        <h3>Futuro Studente</h3>
                    </div>
                </div>
                <!-- box -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="box">
                        <div class="ico-holder">
                            <img width="30%" src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/contact-icon.png"
                                alt="image description">
                        </div>
                        <h3>Studente</h3>
                    </div>
                </div>
                <!-- box -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="box">
                        <div class="ico-holder">
                            <img width="30%" src="http://www.iconarchive.com/download/i85627/graphicloads/100-flat/student.ico"
                                alt="image description">
                        </div>
                        <h3>Laureato</h3>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>