<div ng-include src="'./view/template/inside/inside_navbar_profile_prof.html '"></div>
<div class="container">
 
    <center>
        <h1 class="ciao">Add a new Appello</h1>

        <h4>In questa sezione puoi aggiungere un nuovo appello per il corso di
            <strong>{{currentcorso.nome}}. </strong>
        </h4>
    </center>
    <br>
    <hr>
    <br>
    <form name=form>
    <div id="add" class="row">
        <div class="col-sm-6 form-group">

            <label>Exam Name</label>


            <input disabled type="text" name="nome" ng-model="currentcorso.nome" placeholder="Enter the name of course Here.." class="form-control "required
                required>
        </div>
        <div class="col-sm-6 form-group">
            <label>Data</label>

           <div class="row">
                    <input type="date" id="dataApp" ng-model="newappello.dataApp"  class="form-control" required />
                </div>


        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ">
            <label>Ora</label>
            <input type="time" name="ora" ng-model="newappello.ora" placeholder="Enter the time of the exam Here.." class="form-control" required 
                required>




        </div>
        <div class="col-sm-6 ">
            <button type="submit" class=" btn btn-lg btn-info" ng-click="addAppello(currentcorso.nome,newappello)" ng-disabled="form.$invalid"> Submit </button>
        </div>
    </div>

</form>
</div>
</div>
<script>

</script>
