<div ng-include src="'./view/template/inside/inside_navbar_profile_student.html '">
</div>
<div class="container">

    <!-- 
//QUI SI STAMPERA' LA CARRIERA
 -->

    <button id="prof" type="button" style="float:right;" class="btn btn-info " ng-click="mostraProf()">Mostra</button>
    <table id="mytable" class="table table-bordered well">
        <thead>
            <!--  <th style="width:20%;">username</th>
            <th style="width:20%;">nome</th>
            <th style="width:20%;">cognome</th>

            <th style="width:10%;">codFacolta</th>
            <th style="width:10%;">phone</th>
            <th style="width:10%;">email</th>
 -->
        </thead>
        <tbody>

            <!-- 
            <tr ng-repeat="profs in pr| filter:prof ">

                <td>{{profs.username}}</td>
                <td>{{profs.nameP}}</td>
                <td>{{profs.surname}}</td>
                <td>{{profs.codFacolta}}</td>
                <td>{{profs.phone}}</td>
                <td>{{profs.email}}</td>

            </tr> -->
        </tbody>
    </table>



    <hr>


</div>

<!-- //QUI SI STAMPERANNO I GRAFICI -->


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
 <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
 <br>
    <br>


    <br>
    <br>

    <div class="container ">
          
            <div>
              <canvas id="myChart" class="barr" ></canvas>
            </div>
          </div>
    media aritm{{student}} media pond{{student2}} cfu conseguiti {{student3}} /180
