<!-- <div ng-include src="'./view/template/inside/inside_navbar_profile_admin.html '"></div>

<div class="container">
        
        <div id="ricerca" style="width:100%;height:100px;padding-left:10px;">
            <div id="testo"><h3>Sei interessato a:</h3></div>
                <div id="input">    
                    <input type="text" ng-model="chimica" placeholder="stai cercando..."/>
            </div>
        </div> 
    
        <div class="row col-md-6 col-md-offset-2 custyle">
            <table class="table table-striped table-bordered well">
                <thead>
                        <a ng-click="newCorso(corso)" class="btn btn-success"><b>+</b>  Add new Corso</a>
                    <tr>
                        <th>Nome</th>
                        <th>CodFacolta</th>
                        <th>Codice Corso</th>
                        <th>Cfu</th>
                        <th>Anno del corso</th>
                        <th>Nome Professore</th>
                        <th >Edit</th>      
                        <th >Remove</th>                 
                     </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="corso in corso| filter:chimica | filter:'L27'  " >
                        <td>{{corso.nome}}</td>
                        <td>{{corso.codFacolta}}</td>
                        <td>{{corso.codice}}</td>
                        <td>{{corso.cfu}}</td>
                        <td>{{corso.anno}}</td>
                        <td>{{corso.usernameProf}}</td>
                        <td><a class="btn btn-info btn-sm" ><span class="glyphicon glyphicon-edit" ng-click="editCorso(corso)"></span> Edit</a> </td>
                        <td>  <a  class="btn btn-danger btn-sm" ng-click="deleteCorso(corso)"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                                          
                    </tr>
                </tbody>
            </table>
        </div>
    
    
    </div>
    
     -->

     <div ng-include src="'./view/template/inside/inside_navbar_profile_admin.html '"></div>
     <div class="container">
            <center>
                <h1>Lista Corsi Chimica</h1> <br>
                    <p>In seguito puoi trovare la lista di tutti i corsi tenuti in questa Facoltà. Puoi aggiungere, modificare o eliminare
                        un corso.
                        <br>
                        <strong>Ricorda!</strong> Ogni aggiunta, modifica o eliminazione è permanente.
                        <br> Nella barra di ricerca puoi ricercare un corso tramite in suo nome o il suo codice.
                   <hr> </p><br>
                </center>   <div id="ricerca" style="width:100%;height:100px;padding-left:10px;">
             <div id="testo">
                 <h3>Sei interessato a:</h3>
             </div>
             <div id="input">
                 <input type="text" ng-model="chimica" placeholder="stai cercando..." />
             </div>
             <button type="button" style="float:right;" class="btn btn-warning " ng-click="newCorso()">Nuovo Corso</button>
             
         </div>
     
       
         <form ng-submit="submitCorso()">
             <table id="mytable" class="table table-bordered well">
                 <thead>
                     <th style="width:5%;">Nome</th>
                     <th style="width:10%;">CodFacolta</th>
                     <th style="width:15%;">Codice Corso</th>
                     <th style="width:2%;">CFU</th>
                     <th style="width:10%;">Anno del corso</th>
                     <th style="width:15%;">Nome professore</th>
                     <th style="width:15%;">Edit</th>
                     <th style="width:15%;">Remove</th>
                 </thead>
                 <tbody>
     
     
                     <tr ng-repeat="corso in corso| filter:chimica | filter:'L27' | orderBy:'anno' | orderBy:'codice' ">
                         <td>{{corso.nome}}</td>
                         <td>{{corso.codFacolta}}</td>
                         <td>{{corso.codice}}</td>
                         <td>{{corso.cfu}}</td>
                         <td>{{corso.anno}}</td>
                         <td>{{corso.usernameProf}}</td>
                         <td>
                             <button class="btn btn-primary glyphicon glyphicon-edit" ng-click="editCorso(corso)">Edit</button>
     
                         </td>
                         <td>
                             <button class="btn btn-danger glyphicon glyphicon-remove" ng-click="deleteCorso(corso)">Remove</button>
     
                         </td>
     
                     </tr>
                 </tbody>
             </table>
         </form>
        
     
     
     </div>