<div ng-include src="'./view/template/inside/inside_navbar_profile.html '"></div>
<div class="container">
    <div id="ricerca" style="width:100%;height:100px;padding-left:10px;">
        <div id="testo">
            <h3>Sei interessato a:</h3>
        </div>
        <div id="input">
            <input type="text" ng-model="informatica" placeholder="stai cercando..." />
        </div>
    </div>

    <button type="button" style="float:right;" class="btn btn-info " ng-click="newCorso()">Nuovo Corso</button>

    <form ng-submit="submitCorso()">
        <table id="mytable" class="table table-bordered well">
            <thead>
                <th style="width:5%">Index</th>
                <th style="width:5%;">Nome</th>
                <th style="width:10%;">CodFacolta</th>
                <th style="width:15%;">Codice Corso</th>
                <th style="width:2%;">CFU</th>
                <th style="width:10%;">Anno del corso</th>
                <th style="width:15%;">Nome professore</th>
                <th style="width:15%;">Edit</th>
                <th style="width:15%;">Remove</th>
            </thead>
            <tbody>


                <tr ng-repeat="corso in corso| filter:informatica | filter:'L31' | orderBy:'anno' | orderBy:'codice' ">
                    <td>{{$index+1}}</td>

                    <td>
                        <input name="corso.nome{{$index}}" ng-model="corso.nome" ng-disabled="!enabledEdit[{{$index}}]" /> </td>
                    <td>
                        <input name="corso.codFacolta{{$index}}" ng-model="corso.codFacolta" ng-disabled="!enabledEdit[{{$index}}]" /> </td>
                    <td>
                        <input name="corso.codice{{$index}}" ng-model="corso.codice" ng-disabled="!enabledEdit[{{$index}}]" /> </td>
                    <td>
                        <input name="corso.cfu{{$index}}" ng-model="corso.cfu" ng-disabled="!enabledEdit[{{$index}}]" /> </td>
                    <td>
                        <input name="corso.anno{{$index}}" ng-model="corso.anno" ng-disabled="!enabledEdit[{{$index}}]" /> </td>
                    <td>
                        <input name="corso.usernameProf{{$index}}" ng-model="corso.usernameProf" ng-disabled="!enabledEdit[{{$index}}]" /> </td>


                    <td>
                            <button class="btn btn-primary glyphicon glyphicon-edit" ng-click="editCorso($index)">Edit</button>
                            
                    </td>
                    <td>
                            <button class="btn btn-danger glyphicon glyphicon-remove" ng-click="deleteCorso($index)">Remove</button>
                            
                    </td>

                </tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
    <div class="clearfix"></div>
    

</div>