<div ng-include src="'./view/template/inside/inside_navbar_profile_prof.html '"></div>

<div class="container">
    <h1 class="ciao">Edit ElencoIscritti</h1>

    <div class="row">
        <div class="col-sm-6 form-group">


            <label>Esame</label>
            <input type="text" disabled name="nome" ng-model="currentelenco.esame" class="form-control">
        </div>
        <div class="col-sm-4 ">
                <label>Voto Provvisorio</label>
            <input type="text" name="aperto" ng-model="currentelenco.voto_provvisorio" disabled class="form-control">

        </div>
        <div class="col-sm-2 ">
                <label>Voto Definitivo</label>
            <input type="text" disabled name="iscritti" ng-model="currentelenco.voto_definitivo" disabled class="form-control">

        </div>
        </div>
    <div class="row">
            <div class="col-sm-4 form-group">
                    <label>Nome</label>
                    <input type="text" disabled name="data" ng-model="currentelenco.nome"  class="form-control">
                </div>   

        <div class="col-sm-4 ">
            <label>Cognome</label>
            <input type="text" disabled name="ora" ng-model="currentelenco.cognome"  class="form-control">
        </div>
        
            <div class="col-sm-2 form-group">
                    <label>Accettato</label>
                    <input type="text" disabled name="data" ng-model="currentelenco.accettato"  class="form-control">
                </div>   
        <div class="col-sm-2 ">
            <label>Confermato</label>
            <input type="text" disabled name="ora" ng-model="currentelenco.conferma"  class="form-control">
        </div>
</div>
        
        
   
    <br>

    <button type="submit" id="chiudi" class=" btn btn-lg btn-info" ng-click="confermaVoto(currentelenco)"> ConfermaVoto </button>

    <button type="submit" id="submit" class=" btn btn-lg btn-info" ng-click="updateElenco(currentelenco)"> EditVoto </button>
    <br>
    <br>
    <hr>
</div>


  