
<div ng-include src="'./view/template/inside/inside_navbar_profile_student.html '">
</div>
<div class="container">

<div id="ricerca" style="width:100%;height:100px;padding-left:10px;">
    <div id="testo">
        <h3>Sei interessato a:</h3>
    </div>
    <div id="input">
        <input type="text" ng-model="nome" placeholder="stai cercando..." />
    </div>
</div>


<table id="mytable" class="table table-bordered well">
    <thead>

        <th style="width:20%;">Nome</th>
        <th style="width:10%;">cfu</th>
        <th style="width:10%;">anno</th>
        <th style="width:10%;">codice</th>

    </thead>
    <tbody>

      
        <tr ng-repeat="piano in corso | orderBy:'anno' ">
            <td>{{piano.nome}}</td>
            <td>{{piano.cfu}}</td>
            <td>{{piano.anno}}</td>
            <td>{{piano.codice}}</td>


        </tr>
    </tbody>
</table>
</div>
