<div ng-include src="'./view/template/inside/inside_navbar_profile_admin.html '">
</div>
<!-- <link rel="stylesheet" href="./view/style/profileAdmin.css"> -->


<section class="mbr-section mbr-section__container article" id="header3-1" data-rv-view="3" style=" padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <h1 class="mbr-section-title display-1">Benvenuto</h1>
                <h3 class="mbr-section-title display-2">{{currentuser.username}}</h3>
            </div>
            <br>
            <br>
            <div class="immagine2">
                <center>
                    <img src="https://image.flaticon.com/icons/png/512/270/270023.png" width="80px" text-align="center">
                </center>
                <br> </div>
            <div class="spiegazione">
                <p>Hai eseguito l'accesso come {{currentuser.ruolo}}.
                    <br>
                    <br>In seguito troverai una lista di sezioni a te adibite in cui potrai svolgere il tuo ruolo da Amministratore.</p>
                <strong>Ti ricordiamo di utilizzare con attenzione le sezioni sottostanti, in quanto vi sono dati personali.</strong>
                <p>Nella barra di inizio pagina, invece, puoi trovare tutti i corsi di laurea tenuti in questa Università, con i relativi corsi.</p>
            </div>
        </div>
    </div>
</section>


<section style="padding-top: 120px; padding-bottom: 120px;">
    <hr>
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">Aggiungi admin</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="spiegazione">
        <p>In questa sezione è possibile aggiungere un nuovo account per un amministratore .
            <br>
            <strong>RICORDA! Questa azione creerà un account con i tuoi stessi privilegi. </strong>
        </p>
    </div>
    <form name="myForm1">
        <div class="mbr-section mbr-section-nopadding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">

                        <div class="row row-sm-offset">

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="form1-2-name">Username</label>
                                    <input type="text" name="name" ng-model="admin.username" placeholder="Enter username Here.." class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="form1-2-name">Password</label>
                                    <input type="password" name="name" ng-model="admin.password" placeholder="Enter password here " class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-lg btn-success" ng-click="addAdmin()" ng-disabled="myForm1.$invalid">Add Admin</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>


<section>

    <hr>
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">Rimuovi Professore</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="spiegazione">
        <p>In questa sezione è possibile rimuovere un professore in base al suo username. .
            <br>
            <strong>RICORDA! Questa azione cancellerà in modo permanente tutti i dati del professore dal database</strong>
        </p>
    </div>
    <form name="myForm2">
        <div class="mbr-section mbr-section-nopadding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">

                        <div class="row row-sm-offset">

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="form1-2-name">Username</label>
                                    <input type="text" name="name" ng-model="prof.username" placeholder="Enter username Here.." class="form-control" required/>
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-lg btn-success" ng-click="deleteProf(prof)" ng-disabled="myForm2.$invalid || myForm2.$pending">Rimuovi Professore</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>


<section style="padding-top: 120px;">
    <hr>

    <section>

        <div class="mbr-section mbr-section__container mbr-section__container--middle">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <h3 class="mbr-section-title display-2">Rimuovi studente</h3>

                    </div>

                </div>
            </div>
        </div>
        <div class="spiegazione">
            <p>In questa sezione è possibile rimuovere uno studente in base al suo username..
                <br>
                <strong>RICORDA! Questa azione cancellerà in modo permanente tutti i dati dello studente</strong>
            </p>
        </div>
        <form name="myForm4">
        <div class="mbr-section mbr-section-nopadding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">

                        <div class="row row-sm-offset">

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="form1-2-name">Username</label>
                                    <input type="text" name="name" ng-model="studente.username" placeholder="Enter username Here.." class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-success" ng-click="deleteStudente(studente)" ng-disabled="myForm4.$invalid">Rimuovi Studente</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <br>
    <div class="container">
        <div class="col-xs-12 text-xs-center">
            <h3 class="mbr-section-title display-2">Aggiungi Prof</h3>
            <div class="spiegazione">
                <p>In questa sezione puoi aggiungere un nuovo professore alla lista dei docenti.
                    <br>
                    <strong>Sei pregato di inserire tutti i dati e di verificarne la correttezza prima di aggiungere il nuovo docente
                        al database.
                        <br>
                    </strong>
                </p>
            </div>
        </div>
        <div class="col-lg-12 well">
            <div class="row">
                <form class="register" name="myForm3">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>First Name</label>
                                <input type="text" name="nameP" ng-model="user.nameP" placeholder="Enter First Name Here.." class="form-control" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Last Name</label>
                                <input type="text" name="surname" ng-model="user.surname" placeholder="Enter Last Name Here.." class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Date of Birth</label>
                            <input type="date" name="bod" ng-model="user.bod" class="form-control" placeholder="Enter your birthdate Here.." required>
                        </div>


                        <div class=" col-sm-4 form-group">
                            <label>Facolta</label>

                            <select class="form-control" ng-model="user.codFacolta" required>
                                <option value="L31">Informatica</option>
                                <option value="L35">Matematica</option>
                                <option value="L27">Chimica</option>
                                <!--          <option selected value="">Scegli...</option> -->

                            </select>
                        </div>



                        <div class="row">


                            <div class="col-sm-4 form-group">
                                <label>State</label>
                                <input type="text" name="state" ng-model="user.state" placeholder="Enter State Name Here.." class="form-control" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>City</label>
                                <input type="text" name="city" ng-model="user.city" placeholder="Enter City Name Here.." class="form-control" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Address </label>
                                <input type="text" name="address" ng-model="user.address" placeholder="Enter Address Here.." class="form-control" required>
                            </div>
                            <div class=" col-sm-4 form-group">
                                <label>Gender</label>

                                <select class="form-control" ng-model="user.gender" required>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                    <!--         <option selected value="">Scegli...</option> -->
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>Phone Number</label>
                                <input type="text" name="phone" ng-model="user.phone" placeholder="Enter Phone Number Here.." class="form-control" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Email Address</label>
                                <input type="email" name="email" ng-model="user.email" placeholder="Enter Email Address Here.." class="form-control" required>
                            </div>

                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="username" ng-model="user.username" placeholder="Enter Username Here.." class="form-control" required>
                        </div>


                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" ng-model="user.password" placeholder="Enter Password Here.." class="form-control"
                                required>
                        </div>
                        <button type="submit" class="btn btn-lg btn-success" ng-click="addProf()" ng-disabled="myForm3.$invalid || myForm3.$pending" >Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>










    <script>
        var today = new Date()
        var a = today.getFullYear()
        console.log(today)
    </script>









    <!-- <script src="assets/web/assets/jquery/jquery.min.js"></script>
<script src="assets/tether/tether.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/smooth-scroll/smooth-scroll.js"></script>
<script src="assets/viewport-checker/jquery.viewportchecker.js"></script>
<script src="assets/theme/js/script.js"></script>
<script src="assets/formoid/formoid.min.js"></script>


<input name="animation" type="hidden"> -->