<!DOCTYPE html>
<html ng-app="ProgWeb">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      position: relative; 
  }
  #home {padding-top:50px;height:700px;}
  #contact {padding-top:50px;height:700px;}
  #about {padding-top:50px;height:700px;}
  
  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50" style="background-image:url(./img/1.jpg)">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">UNIGINEVRA</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#home">Home</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/registrazione"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
      </div>
    </div>
  </div>
</nav>    

<div id="home" class="container-fluid" align="center">
  <h1>BENVENUTI NEL PORTALE!</h1>
  <br><br>
  <div align="center"><img src= "./img/2.jpg"></div>
</div>
<div id="contact" class="container-fluid">
  
  <h1>CONTACT US</h1>
  <p>Arianna Fedeli</p>
  <p>number:3467895663</p>
  <p>Marcello Rosati</p>
  <p>number:345869874</p>
  <p>Federico Stacchietti</p>
  <p>number:3205869741</p>
</div>
<div id="about" class="container-fluid">
  <h1>ABOUT</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>


</body>
</html>
