  
    
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Università degli Studi di Camerino</a>
                </div>
    
                <ul class="nav navbar-nav navbar-right">
                   
                    <li><a href="#!/about"><i class="fa fa-shield"></i> About</a></li>
                    <li><a href="#!/contact"><i class="fa fa-comment"></i> Contact</a></li>
                    <li><a href="#!/login"><i class="fa fa-login"></i> Login</a></li>
    
                </ul>
            </div>
            </nav>
        </header>
    mettiamo foto di studenti felici 
   